<div class="input-group">
    <div class="form-control" style="height: 32px;">
        <span *ngFor="let sta of stations" style="font-size:12px;overflow:hidden" [hidden]="sta.id != station_id">{{sta.name}}</span>
    </div>
    <span class="input-group-btn">
        <button type="button" nz-button nzType="default" class="btn btn-default" style="height: 32px;" (click)="chooseStation()">选择</button>
    </span>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="选择归属公司" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzFooter]="modalFooter">
    <nz-radio-group [(ngModel)]="station_id" (ngModelChange)="changeStationId($event)">
        <label nz-radio *ngFor="let sta of stations" nzValue="{{sta.id}}" [ngStyle]="style" class="frogEnterprise-level-{{sta.id}}">{{ent.name}}</label>
  </nz-radio-group>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="cancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()">确定</button>
  </ng-template>
</nz-modal>