<div style="margin-top:15px;background: #fff;padding: 24px; min-height: 360px;">
    <form #addForm="ngForm" (ngSubmit)="submit(addForm)">
        <div nz-row>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">设备名称</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="请输入设备名称" ngModel name="device_name">
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">出厂编号</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="请输入出厂编号" ngModel name="device_number">
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">设备号</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="请输入设备号" ngModel name="number_define">
                    </div>
                    <div nz-col nzLg="1" nzXl="1" nzXXl="1"></div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">归属设备组</label>
                    <div nz-col  nzLg="15" nzXl="15" nzXXl="13">
                        <app-form-choose-enterprise [ngModel]="station" name="station_id" (ngModelChange)="stationChange($event)" [type]="'onlyStationId'"></app-form-choose-enterprise>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">供应商</label>
                    <div nz-col  nzLg="15" nzXl="15" nzXXl="13">
                        <nz-select style="width: 100%;"  [(ngModel)]="info.manufacturer_id"  name="manufacturer_id">
                            <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of manufacturer"></nz-option>
                        </nz-select>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">所在城市</label>
                    <div nz-col  nzLg="15" nzXl="15" nzXXl="13">
                        <app-choose-address [parent_provinceOption] = "choose_address.provinceOption"></app-choose-address>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">详细地址</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="详细地址" [(ngModel)]="info.address" name="address">
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">经纬度</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <div class="input-group">
                            <div class="form-control" style="height: 32px;">
                                <span>{{longitude}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" nz-button nzType="default" class="btn btn-info btn-outline btn-size-12" (click)="getMap()">选经纬度
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">设备类型</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <nz-select style="width: 100%;" [ngModel]="info.type" name="device_type">
                            <nz-option nzValue="1" nzLabel="烟感" nzDisabled *ngIf="info.type == '1'"></nz-option>
                            <nz-option nzValue="2" nzLabel="智能井盖" nzDisabled *ngIf="info.type == '2'"></nz-option>
                            <nz-option nzValue="3" nzLabel="门磁" nzDisabled *ngIf="info.type == '3'"></nz-option>
                            <nz-option nzValue="4" nzLabel="智能锁" nzDisabled *ngIf="info.type == '4'"></nz-option>
                            <nz-option nzValue="5" nzLabel="故障指示器" nzDisabled *ngIf="info.type == '5'"></nz-option>
                        </nz-select>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1">*</div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">型号</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="请输入型号" [ngModel]="info.device_remarks" name="device_remarks">
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1"></div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">备注</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <input type="text" nz-input placeholder="请输入备注" [ngModel]="info.provider" name="provider">
                        <!-- <nz-select style="width: 100%;" [ngModel]="info.provider" name="provider">
                            <nz-option nzValue="" nzLabel="请选择说明"></nz-option>
                            <nz-option nzValue="库存设备" nzLabel="库存设备"></nz-option>
                            <nz-option nzValue="演示设备" nzLabel="演示设备"></nz-option>
                            <nz-option nzValue="2" nzLabel="智能节点"></nz-option>
                            <nz-option nzValue="3" nzLabel="门磁"></nz-option>
                            <nz-option nzValue="4" nzLabel="智能锁"></nz-option>
                            <nz-option nzValue="5" nzLabel="断路检测仪"></nz-option>
                        </nz-select> -->
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1"></div>
                </div>
            </div>
            <div nz-col nzXs="23" nzMd="11" nzLg="11" nzXl="11" nzOffset="1" class="add-form">
                <div nz-row [nzGutter]="16">
                    <label nz-col nzLg="8" nzXL="4" class="text-right add-label">投入使用时间</label>
                    <div nz-col nzLg="15" nzXl="15" nzXXl="13">
                        <nz-date-picker [ngModel]="info.open_used_at" name="open_used_at" nzPlaceHolder="请选择投入使用时间" style="width: 100%;"></nz-date-picker>
                    </div>
                    <div class="red-start" nz-col nzLg="1" nzXl="1" nzXXl="1"></div>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col class="text-center add-footer">
                <button nz-button nzType="default" (click)="canCel()">取消</button>
                <button nz-button nzType="primary" type="submit" class="submit-right">确认</button>
            </div>
        </div>
    </form>
</div>
<nz-modal 
    [(nzVisible)]="isVisible" 
    nzTitle="" 
    (nzOnCancel)="handleCancel()" 
    (nzOnOk)="handleOk()"
    [nzBodyStyle] = "bodyStyle"
    nzWidth = '1000px'
    >
    <div class="modal-header">
        <nz-input-group nzSearch nzSize="default" [nzSuffix]="suffixButton" style="width: 300px;float: left;">
            <input type="text" nz-input [(ngModel)]="info.mapAddress" id="input" placeholder="请输入地址">
            <ul class="downselect" [hidden]="!showDropdownFlag">
                <li *ngFor="let address of addressList" (click)="clickAddress(address)" class="downselect-item">{{address.name}}</li>
            </ul>
        </nz-input-group>
        <div class="longitude">
            <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="default" nzSearch (click)="getCity(info.mapAddress)">搜索</button>
            </ng-template>
            <input type="text" nz-input [(ngModel)]="longitude" style="width: 300px;" readonly="readonly" placeholder="请点击地图获取经纬度">
        </div>
    </div>
    <div id="container" style="width: 100%;height: 100%;"></div>
</nz-modal>

