<nz-breadcrumb style="margin:16px 0;">
  <nz-breadcrumb-item>设置</nz-breadcrumb-item>
  <nz-breadcrumb-item>系统用户</nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:24px; background: #fff;">
    <!-- <nz-tabset (nzSelectedIndexChange)="change($event)" [nzSelectedIndex]="0">
        <nz-tab nzTitle="系统用户"> -->
              <div nz-row>
                  <div class="filter-group" nz-col nzSm="24" nzMd="12" nzXl="8">
                        <span nz-col nzSpan="6">系统用户</span>
                        <div nz-col nzSpan="15">
                            <app-fuzzy-search [type]="'systemuser'" [(ngModel)]="systemUserObj"></app-fuzzy-search>
                        </div>
                  </div>
                  <div class="filter-group" nz-col nzSm="24" nzMd="12" nzXl="8">
                      <span nz-col nzSpan="6">系统用户组</span>
                      <div nz-col nzSpan="15">
                          <app-fuzzy-search [type]="'systemgroup'" [(ngModel)]="systemUserGroupObj"></app-fuzzy-search>
                      </div>
                  </div>
                    <!-- <div nz-row style="margin-bottom: 15px;">
                    <div nz-col> -->
                        <a [routerLink]="['/systemUser/add']" class="pull-right clearfix">
                            <button nz-button nzType="default"
                            *ngIf="auth.indexOf(183109083) !== -1"
                            >添加</button>
                        </a>
                        <button nz-button nzType="primary" class="pull-right clearfix" (click)="search()" style="margin-right: 10px"
                        *ngIf="auth.indexOf(174494598) !== -1"
                        >查询</button>
                    <!-- </div>
                    </div> -->
              </div>
              <div style="margin-top:15px;background: #fff;padding: 24px; min-height: 360px;">
                    <div nz-row>
                        <nz-table 
                            #basicTable [nzData]="systemUser_list" 
                            [nzPageSize]="20"  
                            [nzTotal]="info.total" 
                            [nzFrontPagination]="false" 
                            (nzPageIndexChange)="changePage($event)"
                            [nzLoading]="info.loading"
                            >
                            <thead>
                              <tr>
                                <th>用户名</th>
                                <th>用户类型</th>
                                <th>归属系统用户组</th>
                                <th>手机号</th>
                                <th>详细地址</th>
                                <th>注册时间</th>
                                <th *ngIf="auth.indexOf(189501553) !== -1 || auth.indexOf(196574704) !== -1">操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of basicTable.data">
                                <td>{{data.name}}</td>
                                <td>
                                    <span *ngIf="data.type == 0 || data.type == 1" >系统管理员</span>
                                    <span *ngIf="data.type == 2" >运维人员</span>
                                </td>
                                <td>{{data.group_name}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.created_at}}</td>
                                <td *ngIf="auth.indexOf(189501553) !== -1 || auth.indexOf(196574704) !== -1">
                                   <button type="button" 
                                          nz-button nzType="primary" 
                                          nzSize="small"
                                          [routerLink] = "['/systemUser/edit',data.id]"
                                          *ngIf="auth.indexOf(189501553) !== -1"
                                          >编辑</button>
                                   <button type="button" 
                                          nz-button nzType="danger" 
                                          nzSize="small"
                                          nz-popconfirm
                                          nzTitle="确认要删除吗?"
                                          (nzOnConfirm)="delete(data)"
                                          *ngIf="auth.indexOf(196574704) !== -1"
                                          style="margin-left: 5px" 
                                          >删除</button>
                                </td>
                              </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
        <!-- </nz-tab> -->
        <!-- <nz-tab nzTitle="系统用户组">
            <div nz-row>
                <div nz-col nzSpan="24" class="filter-group">
                  <div nz-col nzSpan="8" class="filter-input">
                    <span nz-col nzSpan="4">系统用户组</span>
                    <div nz-col nzSpan="12">
                    </div>
                  </div>
                </div>
            </div>
            <div style="margin-top:15px;background: #fff;padding: 24px; min-height: 360px;">
                <div nz-row style="margin-bottom: 15px;">
                    <div nz-col>
                        <a [routerLink]="['/systemUserGroup/add']" class="pull-right clearfix">
                            <button nz-button nzType="default" [routerLink]="['/systemUserGroup/add']">添加</button>
                        </a>
                        <button nz-button nzType="primary" class="pull-right clearfix" (click)="searchSystemUserGroup()" style="margin-right: 10px">查询</button>
                    </div>
                </div>
                    <div nz-row>
                        <nz-table 
                            #systemGroupTable [nzData]="systemUserGroup_list" 
                            [nzPageSize]="20"  
                            [nzTotal]="group.total" 
                            [nzFrontPagination]="false" 
                            (nzPageIndexChange)="changeGroupPage($event)"
                            [nzLoading]="group.loading"
                            >
                            <thead>
                              <tr>
                                <th>用户名</th>
                                <th>归属单位</th>
                                <th>手机号</th>
                                <th>详细地址</th>
                                <th>注册时间</th>
                                <th>操作</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let data of systemGroupTable.data">
                                <td>{{data.name}}</td>
                                <td>{{data.enterprise_name}}</td>
                                <td>{{data.phone}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.created_at}}</td>
                                <td>
                                   <button type="button" 
                                          nz-button nzType="primary" 
                                          nzSize="small"
                                          [routerLink] = "['/systemUserGroup/edit',data.id]"
                                          >编辑</button>
                                   <button type="button" 
                                          nz-button nzType="danger" 
                                          nzSize="small"
                                          nz-popconfirm
                                          nzTitle="确认要删除吗?"
                                          (nzOnConfirm)="deleteGroup(data)"
                                          style="margin-left: 5px" 
                                          >删除</button>
                                </td>
                              </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
        </nz-tab>
    </nz-tabset> -->
</div>