<div class="index-header">
   <div class="index-item-left">
      <p class="font34">{{head.device_total}}</p>    
      <p class="font16">移动终端</p>    
   </div>
   <div class="index-item-right">
      <p class="font34">{{head.device_warn}}</p>
      <p class="font16">报警总数</p>
   </div>
</div>
<div class="index-node">
    <p class="index-title">设备组分布</p>
    <div class="node-map" id="map">

    </div>
</div>
<div class="index-device" nz-row>
    <div class="index-device-type" nz-col nzSm="24" nzXl="12">
        <p class="index-title">设备类型</p>
        <div id="c1"></div>
    </div>
    <div class="index-device-num" nz-col nzSm="24" nzXl="12">
        <p class="index-title">设备数量</p>
        <div id="c2"></div>
    </div>
</div>
<div class="index-warning" nz-row>
    <p class="index-title">告警统计</p>
    <div nz-col nzSm="24">
      <div id="c3"></div>
    </div>
</div>

